.container_slider {
  background-color: #f4f1eb;
  padding: 88px 60px;
}

.imageSlide {
  width: "610px";
  height: "397px";
  overflow: hidden;
  border-radius: 5px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: red !important;
}
@media (max-width: 900px) {
  .container_slider {
    background-color: #f4f1eb;
    padding-right: 0;
    padding-left: 0;
  }
}
